@keyframes voteanim
{
	 0%
	 {
		 background-color: #333333;
		 color: #ffffff
	 }
	 7%
	 {
		 background-color: white;
		 color: black;
	 }
	 50%
	 {
		 background-color: #333333;
		 color: black;
	 }
	 100%
	 {
		 background-color: black;
		 color: black;
	 }
}

@keyframes rejectanim
{
	 0%   {
		 background-color: #333333;
		 color: #ffffff
	 }
	 100% {
		 background-color: black;
		 color: black;
	 }
}

body
{
	font-family: "Helvetica", sans-serif;
	background: #000;
	color: #BBB;
	margin: 0;
	overflow: hidden;
}

canvas
{
	width: 100%;
	height: 100%
}

h1
{
	font-size: 40px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*.scrollable{
	max-height: 700px;
	overflow: scroll;
}*/


#displayInstructions
{
	text-align: center;
	margin: 50px;
}

#displayInstructions>h1
{
	font-size: 40px;
}

#displayInstructions>h3
{
	font-size: 25px;
}

#chatContainer
{
	text-align: center;
	margin: 5px;
}

#storyContainer
{
	text-align: center;
	margin: auto;
}

#loveContainer
{
	height: 100%;
	position: fixed;
}

#voteContainer
{
	text-align: center;
	height: 100%;
}

.largeText
{
	font-size: 35px;
}

.cmdText
{
	background: #000;
	height:  340px;
	width: 375px;
	margin: 2px;
	color: white;
	font-family: monospace;
	font-size: 12px;
}

.mbut
{
	background-color: #333333;
	color: #ffffff;
	margin: 5%;
	height: 45%;
}

.textContainer
{
	width: 100%;
}

.vote
{
	animation: voteanim 3s forwards;
	-webkit-animation: voteanim 3.0s forwards; /* for less modern browsers */
}

.reject
{
	animation: rejectanim 0.7s forwards;
	-webkit-animation: rejectanim 0.7s forwards; /* for less modern browsers */
}
