body{
	font-family: "Helvetica", sans-serif;
	background: #000;
	color: #BBB;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

canvas { width: 100%; height: 100% }

.noselect {
			  -webkit-touch-callout: none; /* iOS Safari */
			  -webkit-user-select: none;   /* Chrome/Safari/Opera */
			  -khtml-user-select: none;    /* Konqueror */
			  -moz-user-select: none;      /* Firefox */
			  -ms-user-select: none;       /* Internet Explorer/Edge */
			  user-select: none;           /* Non-prefixed version, currently
			                                  not supported by any browser */
}

.scrollable{
    max-height: 700px;
    overflow: scroll;
}

h1{

	font-size: 40px;

}

#displayInstructions{
	text-align: center;
	margin: 50px;

}

#displayInstructions>h1{
	font-size: 40px;
}

#displayInstructions>h3{
	font-size: 25px;
}

#chatContainer{
	text-align: center;
	margin: 5px;
}

#storyContainer{
	text-align: center;
	margin: auto;
}

#loveContainer{
	height: 100%;
	position: fixed;
}



.largeText{
	font-size: 35px;
}

.bigText{

    font-size: 125px;
    font-style: normal;

}

.tbSpacer{
	margin: 10px 0;
}

.lrSpacer{
	margin: 0px 10px;
}

.selected{
    background: #000;

}

.cmdText{
    background: #000;
    height:  340px;
		width: 375px;
		margin: 2px;
    color: white;
    font-family: monospace;
    font-size: 12px;

}
